@model IEnumerable<RamsWebApplication.Models.Rams>

@{
    ViewBag.Title = "RAMSManagement";
}

<h2>RAMSManagement</h2>
<div>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id) &
                @Html.DisplayNameFor(model=>model.First().Version)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.First().SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.First().SurveyType)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.First().LeadSurveyor)
            </th>
            <th>
                @Html.ActionLink("Survey Date","RAMSManagement",new{sortOrder=ViewBag.DateSortParm})
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.First().LastEditedDateandTime)
            </th>
        </tr>

        @foreach (var m in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>m.Id)
                    @Html.DisplayFor(modelItem=>m.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>m.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>m.SurveyType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>m.LeadSurveyor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>m.DAteOfSurvey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>m.LastEditedDateandTime)
                </td>
            </tr> 
        }
    </table>
</div>
